body {
    margin: 0;
    background-color: white;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0em;       
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 1100px;
    margin: auto;
}

.header {
    padding: 92px 50px 96px 50px;
    height: 293px;
}

.cover {
    padding: 165px 50px 50px 50px;
    height: 757px;
    position: relative;
    background-image: url('../images/cover-fon.jpg');
    background-size: cover;      /* Растянуть на весь блок */
    background-position: center; /* Центрировать */
    background-repeat: no-repeat; /* Не повторять */
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1100px;
    height: 757px;
    background-color: #000000; 
    opacity: 0.6; 
    z-index: 1;
}

.cover-content {
    position: relative;
    z-index: 2;
}

.lots {
    padding: 180px 24px 120px 24px;
    height: 1023px;
}

.about{
    padding: 35px 24px 0px 24px;
    height: 595px;
}

.footer {
    padding: 180px 50px;
    height: 180px;
}
