.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px; 
    width: 1100px;
    height: 293px;
    background-color: #ffffff;
}

.nav {
    justify-self: start;
}

.nav-list {
    display: flex;
    list-style: circle; 
    gap: 34px; 
}

.nav-list li:first-child {
    list-style: none; 
}

.nav-list a {
    text-decoration: underline;
    color: #000000;
    text-transform: lowercase;
    font-size: 18px;
}

.logo {
    justify-self: center; 
}

.address {
    justify-self: end; 
    text-align: left; 
    font-style: normal;
}

.address a {
    color: #000000;      
}

.cover-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: #ffffff;
}

.cover-title-line {
    display: block;
    letter-spacing: 30%;
    line-height: 1.15;
}

.cover-title-line:not(:last-child) {
    margin-bottom: 20px; /* Отступ между строками */
}

.cover-title-line:first-child { text-align: left; }
.cover-title-line:nth-child(2) { text-align: center; }
.cover-title-line:last-child { text-align: right; }

/* Контейнер для подзаголовка и кнопки */
.cover-description {
    display: flex;
    align-items: center; 
    gap: 107px;
    justify-content: center; 
    margin-top: 106px;
}

/* Подзаголовок с увеличенными расстояниями между словами */
.cover-subtitle {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: 20px; 
    line-height: 28px;
}

.cover-button {
    background: transparent; /* Прозрачный фон */
    border: 1px solid #ffffff; 
    padding: 12px 32px 11px 31px;
    color: #ffffff; 
    font-size: 22px; 
    text-transform: uppercase; 
    font-family: inherit; /* Наследовать шрифт */
    border-radius: 0; 

}

.lots-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

/* Список карточек */
.lots-list {
    display: flex;
    flex-wrap: wrap; /* Перенос на новую строку при переполнении */
    list-style: none; /* Сброс стилей списка */
    justify-content: space-between; 
    height: 596px;
}

.lots-item {
    width: 334px; 
}


.lot-link {
    display: block;
    height: 100%; 
    text-decoration: none; /* Сброс подчёркивания */
    color: inherit;
}

.lot-card {
    position: relative; 
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.lot-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
}

.lots-item:nth-child(1) .lot-card {
    background-image: url('../images/lot1.jpg');
}

.lots-item:nth-child(2) .lot-card {
    background-image: url('../images/lot2.png');
}

.lots-item:nth-child(3) .lot-card {
    background-image: url('../images/lot3.jpg');
}

.lot-title {
    position: relative; 
    z-index: 2; 
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    font-family: Raleway;
    font-style: Bold;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
}

.lot-description {
    position: relative;
    z-index: 2; 
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.lots-more {
    display: block;
    text-decoration: underline;
    color: #000000;
    text-transform: lowercase;
    margin-top: 30px; 
    margin-left: 40px;
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.about {
    display: grid;
    /* Левая колонка - такого же размера как карточка выше (minmax для адаптивности) */
    grid-template-columns: 334px 1fr;
    gap: 25px;
    align-items: start;
}

.about-column-left {
    display: flex;
    justify-content: center;
}

.logo-column {
    width: 240px;
    height: 240px;
}

.about-column-right {
    padding-top: 136px;
}

.about-title {
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about-text p:first-child {
  /* Отступ только для первого абзаца как требуется */
    margin-bottom: 24px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.footer-address {
	font-style: normal;
	line-height: 24,3px;
	font-size: 18px;
	text-decoration: none;
}

.footer-address a {
	text-decoration: underline;
    color: black;
}

.footer-nav {
	display: flex;
	justify-content: center;
}

.footer-nav-list {
	list-style: none;
	text-align: center;
}

.footer-nav-list a {
	color: #000;
	text-decoration: underline;
	font-size: 18px;
}

.footer-social {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	gap: 48px;
}

.social-link {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
